{% extends 'partials/base.html.twig' %}

{% set collection = taxonomy.findTaxonomy({'category':uri.param('n')}).visible() %}

{% block content %}
<div id="content">
	{% set vcenter = count(collection) <= 3 %}
	<h2 class="page-title {% if vcenter %}vcenter{% endif %}">{{uri.param('n')}} projects</h2>
	<div class="grid {% if vcenter %}vcenter{% endif %}">
		{% set ext_links = page.header.child_type == "external" %}

		{% for child in collection %}
			<a class="entry" href="{{child.url}}" {% if ext_links %}target='_blank'{% endif %} style="background-color:{{ child.header.banner_color }}">
				<div class="info">
					<h2 class="title">{{child.title}}</h2>
					<p class="tags">{{ child.taxonomy.category|join(', ') }}</p>
				</div>

				{% set blog_image = child.media.images|first %}
				<div class="image" style="background-image: url({{ blog_image.url }});animation-duration:{{ random(['1.5s', '1s', '0.5s','2s']) }}"></div>
			</a>
		{% endfor %}
	</div>

	{% if config.plugins.pagination.enabled and collection.params.pagination %}
		{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
	{% endif %}

</div>
{% endblock %}