{% extends 'partials/base.html.twig' %}

{% block javascripts %}
	{% do assets.addJs('theme://js/theme.js') %}
{% endblock %}

{% block content %}
	<div id="content">

	{% set cp = page.parent().children().visible() %}
	{% set next = cp.nextSibling(page.path).url %}
	{% set prev = cp.prevSibling(page.path).url %}

	<div id="pagination">
		{% if next %}
			<a class="pagination prev"  rel="prev" href="{{ next }}">&#9664;</a>
		{% endif %}

		{% if prev %}
			<a class="pagination next" rel="next" href="{{ prev }}">&#9654;</a>
		{% endif %}
	</div>
	
	{% set mainImage = page.media.images|first %}

	{% if mainImage %}
		<div class="right-picture" style="background-image:url('{{ mainImage.url }}')"></div>
		{% for img in page.media.images if img != mainImage  %}
			<div class="full-picture" style="background-image:url('{{ img.url }}')"></div>
		{% endfor %}
		{% if page.media.images|length > 1 %}
			<div id="viewer-pagination" class="hidden">
				<a id="prev-image-button" class="pagination image-viewer prev" rel="prev">&#9664;</a>
				<a id="next-image-button" class="pagination image-viewer next" rel="next">&#9654;</a>
			</div>
		{% endif %}
	{% endif %}
	
	<div class="post{% if mainImage %} left {% endif %} with-tags">
		<ul class="categories">
		{% for cat in page.taxonomy.category %}
			<span class="category"><a href="category/n:{{cat}}">{{cat}}</a></span>
		{% endfor %}
		</ul>
		
		<h1 class="post-title">{{page.title}}</h1>
		{{ page.content }}

		<ul class="links">
		{% for link in page.header.links %}
			<li><a class="entry-link" target="_blank" href="{{link.url}}">{{link.title}}</a></li>
		{% endfor %}
		</ul>
		
	</div>

	</div>

{% endblock %}
